:root {
  --clr-primary: #0b0d17;
  --clr-secondary: #d0d6f9;
  --clr-accent: #ffffff;
}
html,
body {
  overflow: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Bellefair", serif;
}
.main-content {
  height: 100%;
  overflow: hidden;
}
.space {
  height: 100vh;
  padding: 1rem;
  background-image: url(./assets/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--clr-accent);
}
.nav-bar {
  display: flex;
  margin-left: 20px;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
.nav-img {
  width: 48px;
  height: 50px;
}
tr {
  border: 1px solid var(--clr-accent);
  width: 500px;
  opacity: 50%;
  z-index: 100;
  transform: translate(25%);
}
.nav-menu {
  width: 48%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7px);
  border-radius: 4px;
  height: 90%;
}
.nav-list {
  list-style: none;
  height: 100%;
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}
.nav-list > li {
  display: flex;
  gap: 0.3rem;
  cursor: pointer;
  /* border-bottom: 3px solid white; */
  height: 90%;
  padding-top: 30px;
}
.nav-list > li > .li-num {
  font-weight: bolder;
}
.home {
  height: 550px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 400px;
}
.space-question-div {
  width: 450px;
  height: 382px;
  font-size: 27px;
}
.space-question {
  color: var(--clr-secondary);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.space-word {
  margin-top: 20px;
  margin-bottom: 25px;

  color: white;
  font-size: 130px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.space-paragraph {
  color: var(--clr-secondary);
}
.explore-button-div {
  height: 234px;
  width: 234px;
}
.explore {
  background: white;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.explore:hover {
  box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.3);
}
.hamburger {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.5s ease;
  display: none;
}
.mobile-nav-menu {
  display: none;
}
.destination-page {
  padding: 50px;
  height: 100%;
}
.pick-destination-div {
  font-size: 28px;
  margin-left: 20px;
}
.destination-number {
  opacity: 60%;
}
.planet-capsule {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.planet-img-div {
  height: 445px;
  width: 445px;
}
.planet-selection-div {
  width: 445px;
  height: 472px;
}
.planet-button {
  background: none;
  border: none;
  color: white;
  width: 80px;
  align-self: flex-start;
  margin-bottom: 30px;
  cursor: pointer;
  padding-bottom: 10px;
  width: fit-content;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 2px;
}
.planet-name {
  font-size: 70px;
}
.planet-paragraph {
  color: var(--clr-secondary);
  margin-bottom: 30px;
  margin-top: 20px;
}
.planet-hr {
  border: 1px solid var(--clr-accent);
  width: 90%;
  margin-bottom: 10px;
}
.planet-information {
  display: flex;
  justify-content: center;
  gap: 20%;
  margin-right: 35px;
}
.planet-distance {
  display: flex;
  flex-direction: column;
}
.planet-arrival-time {
  display: flex;
  flex-direction: column;
}
.distance-span {
  color: var(--clr-secondary);
  font-size: 17px;
}
.arrival-span {
  color: var(--clr-secondary);
  font-size: 17px;
}
.arrival-data-span {
  font-size: 30px;
}
.crew-page {
  padding: 50px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.img-hr {
  display: none;
}
.meet-your-crew {
  font-size: 28px;
  margin-left: 20px;
}
.meet-crew {
  opacity: 60%;
  margin-right: 15px;
}
.crew-information-panel {
  max-width: 45%;
}
.crew-image-panel {
  width: stretch;
  max-width: 55%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.crew-image-div {
  height: 550px;
  width: 550px;
  position: absolute;
  right: 50px;
  object-fit: cover;

  background-size: cover;
}
.commander-info {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}
.crew-title {
  font-size: 30px;
  opacity: 50%;
}
.crew-name {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.crew-paragraph {
  color: var(--clr-secondary);
  font-size: 18px;
  max-width: 444px;
}
.selectionPoint {
  height: 14px;
  width: 14px;
  background-color: white;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}
.selectionPoint:hover {
  background-color: rgba(132, 16, 16, 0.651);
}
.crew-selection-div {
  display: flex;
  padding: 1rem;
  padding-left: 0;
  position: absolute;
  bottom: 60px;
}
.technology-page {
  padding: 50px;
  height: 100%;
  display: flex;
}
.tech-image-panel {
  width: 515px;
  height: 527px;
}
.tech-info-panel {
  width: stretch;
}
.tech-number-div {
  font-size: 28px;
  margin-left: 20px;
}
.info-number {
  opacity: 60%;
}

.tech-desc-panel {
  display: flex;
  max-width: 80%;
  margin-top: 80px;
  gap: 60px;
}
.tech-info-button {
  width: 60px;
  height: 60px;
  /* background: white; */
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 16px;
  transition: 0.5s ease;
}
.tech-info-button:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}

.tech-description-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 470px;
}
h6 {
  font-size: 29p;
  color: var(--clr-secondary);
}
.tech-name {
  margin-top: 10px;
  font-size: 40px;
  margin-bottom: 15px;
}
.tech-description {
  color: var(--clr-secondary);
  font-size: 18px;
  max-width: 100%;
}

.tech-image-div {
  width: 515px;
  height: 527px;
  background-image: url("./assets/technology/image-launch-vehicle-portrait.jpg");
  right: 0;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media all and (max-width: 1340px) {
  tr {
    display: none;
  }
}
@media all and (max-width: 1100px) {
  .space {
    padding: 0;
    background-image: url(./assets/home/background-home-tablet.jpg);
    overflow: hidden;
  }
  .nav-bar {
    height: 96px;
  }
  .nav-menu {
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.1);
    width: 60%;
  }
  .nav-list {
    gap: 1.5rem;
    font-size: 14px;
  }
  .home {
    gap: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  .space-question-div {
    font-size: 15px;
    text-align: center;
    margin-top: -90px;
  }

  .space-word {
    font-size: 50px;
    text-align: center;
    font-size: 70px;
  }
  .space-paragraph {
    font-size: 22px;
  }
  .explore-button-div {
    height: 150px;
    width: 150px;
    position: absolute;

    bottom: 30px;
  }
  .explore {
    padding: 50px;
    font-size: 30px;
  }
  .pick-destination-div {
    font-size: 18px;
    margin-top: -20px;
    position: absolute;
    left: 0;
  }
  .planet-capsule {
    flex-direction: column;
  }
  .planet-img-div {
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .planet-selection-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .planet-name {
    font-size: 60px;
    text-align: center;
    margin-top: -10px;
  }
  .planet-paragraph {
    margin-bottom: 20px;
    margin-top: 15px;
    font-size: 15px;
  }
  .planet-hr {
    width: 100%;
  }
  .planet-information {
    margin-bottom: 10px;
  }
  .distance-span {
    font-size: 14px;
  }
  .planet {
    font-size: 16px;
  }
  .arrival-data-span {
    font-size: 20px;
    display: inline;
  }
  .arrival-span {
    font-size: 14px;
    white-space: nowrap;
  }
  .distance-span {
    font-size: 14px;
    width: 79px;
  }
  .crew-page {
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
  }
  .main-content {
    display: flex;
    flex-direction: column;
  }
  .crew-information-panel {
    width: 100%;
    max-width: 100%;
  }
  .crew-information-panel {
    width: 100%;
    max-width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .meet-your-crew {
    position: absolute;
    left: 10px;
    width: 100%;

    top: 110px;
    font-size: 18px;
  }
  .crew-image-panel {
    height: stretch;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  .crew-image-div {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    position: static;
    bottom: 0;
    width: 100%;
  }
  .commander-info {
    margin: 0;
    width: 100%;
    margin-top: 50px;
  }
  .crew-title {
    font-size: 25px;
    text-align: center;
  }
  .crew-name {
    text-align: center;
    font-size: 32px;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .crew-paragraph {
    text-align: center;
  }
  .crew-selection-div {
    position: static;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .commander-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tech-number-div {
    font-size: 19px;
    position: absolute;
    left: 20px;
    top: 100px;
  }
  .technology-page {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 25px;
  }
  .tech-image-div {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    margin: 0;
    padding: 0;
    position: static;
    margin-top: -80px;
  }
  .tech-desc-panel {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 100%;
    width: 100%;
    gap: 0;
  }
  .tech-description-panel {
    max-width: 100%;
    display: flex;
    align-items: center;
  }
  .tech-info-selection {
    display: flex;
    gap: 1rem;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  .tech-info-button {
    width: 40px;
    height: 40px;
  }
  .tech-description {
    max-width: 80%;
  }
}

@media all and (max-width: 700px) {
  *,
  html,
  body {
    overflow: hidden;
  }
  .nav-bar {
    height: 80px;
  }
  .space {
    background-image: url(./assets/home/background-home-mobile.jpg);
  }
  .nav-menu {
    display: none;
  }
  .hamburger {
    display: flex;
    height: 25px;
    width: 26px;
    margin-right: 15px;
    cursor: pointer;
    z-index: 1000;
  }
  .mobile-nav-menu {
    display: block;
    position: absolute;
    right: 0;
    top: 1px;
    height: 100%;

    list-style: none;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(16px);
    width: 60%;
    z-index: 10;
    padding: 1rem;
    padding-top: 100px;
    transition: 0.5s ease;
  }
  .mobile-nav-list {
    list-style: none;
    padding: 1rem;
  }
  .mobile-nav-list > li {
    margin-bottom: 40px;
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
  }
  .explore {
    margin: 0;
  }
  .home {
    height: 100%;
  }

  .space-question-div {
    font-size: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .space-word {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 70px;
  }
  .space-paragraph {
    font-size: 20px;
    max-width: 80%;
    text-align: center;
  }
  .explore-button-div {
    height: 170px;
    width: 170px;
  }
  .pick-destination-div {
    font-size: 15px;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
    position: absolute;
    top: 100px;
  }
  .planet-capsule {
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .planet-img-div {
    height: 230px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .planet-selection-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .planet-name {
    font-size: 60px;
    text-align: center;
    margin-top: -10px;
  }
  .planet-paragraph {
    margin-bottom: 20px;
    margin-top: 15px;
    font-size: 15px;
    max-width: 80%;
  }
  .planet-hr {
    width: 80%;
  }
  .planet-information {
    margin-bottom: 10px;
  }
  .distance-span {
    font-size: 14px;
  }
  .planet {
    font-size: 16px;
  }
  .arrival-data-span {
    font-size: 20px;
    display: inline;
  }
  .arrival-span {
    font-size: 14px;
    white-space: nowrap;
  }
  .distance-span {
    font-size: 14px;
    width: 79px;
  }
  .crew-page {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .main-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .crew-information-panel {
    width: 100%;
    max-width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
  }
  .meet-your-crew {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 90px;
    font-size: 18px;
    margin: 0;
  }

  .img-hr {
    display: block;
    margin-right: 10%;
    margin-left: 10%;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  .crew-image-div {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    width: 100%;
    position: static;
    /* margin-top: -50px; */
  }
  .commander-info {
    margin: 0;
    width: 100%;
  }
  .crew-title {
    font-size: 20px;
    text-align: center;
  }
  .crew-name {
    text-align: center;
    font-size: 27px;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .crew-paragraph {
    text-align: center;
    font-size: 18px;
  }
  .crew-selection-div {
    position: static;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 15px;
    gap: 2rem;
  }
  .crew-selection-panel {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 15px;
    width: 100%;
  }
  .selectionPoint {
    width: 12px;
    height: 12px;
    margin: 0;
  }
  .tech-number-div {
    font-size: 15px;
    top: 85px;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .technology-page {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 25px;
  }
  .tech-image-div {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    margin: 0;
    padding: 0;
    position: static;
    margin-top: -80px;
  }
  .tech-desc-panel {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 100%;
    width: 100%;
    gap: 0;
  }
  .tech-description-panel {
    max-width: 100%;
    display: flex;
    align-items: center;
  }
  .tech-info-selection {
    display: flex;
    gap: 1rem;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  .tech-info-button {
    width: 40px;
    height: 40px;
  }
  .tech-name {
    font-size: 35px;
    margin: 0;
  }
  .tech-description {
    max-width: 80%;
    font-size: 13px;
    text-align: center;
  }
}
